
$universal-color-1: #090808;
$universal-color-2: #ffffff;
$universal-color-3: #000000;
$primary-color: #005cff;
$secondary-color: #f5545a;
$tertiary-color:  #EEEEEE;
$quaternary-color: #1a2c50;


;
$section-space: 6rem;





body{
    overflow: hidden;
    overflow-y: auto;
      font-family: "Poppins", serif;
}


h1, h2, h3, h4, p, ul, li, figure{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.para-line-height{
    line-height: 2rem;
    text-wrap: pretty;
}


.navbar-toggler {
    border: 0;

    &:focus{
        outline: none;
        box-shadow: none;
    }

}



.quick-call-info{
    display: flex;
    align-items: center;

    .quick-call{
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 50%;
        background-color: $secondary-color;
        color: $universal-color-2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        transition: ease-in-out .3s;

        &:hover{
            background-color: $primary-color;
        }
    }
    .quick-call-no{
        color: $universal-color-2;
        strong{
            display: block;
            font-size: calc(1rem + .2vw);
            span{
                display: block;
                font-size: 70%;
                font-weight: 500;
            }
        }
        &:hover{
            span{
                color: $secondary-color;
            }
        }
    }

}


.info-nav-info{
    color: $universal-color-2;
    display: flex;
    align-items: center;
}

.info-icons{
    margin-right: .5rem;
    font-size: 1.2rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $secondary-color;
}


.round-icons{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $universal-color-2;
    color: $universal-color-1;
    display: flex;
    align-items: center;
    justify-content: center;



}

.theme-hover{
    transition: ease-in-out .3s;
    &:hover{
        background-color: $secondary-color;
        color: $universal-color-2;
    }
}



.theme-button{
    background-color: $primary-color;
    color: $universal-color-2;
    padding: 1rem 2rem;
    transition: ease-in-out .3s;

}


.swiper-button-next, .swiper-button-prev {
    color: $universal-color-2;
}


small.section-info{
    position: relative;
    display: block;
    margin-left: 3rem;
    color: $secondary-color;
    font-size: calc(.8rem + .2vw);
    font-weight: 500;
    margin-bottom: 2rem;

    &::after{
        position: absolute;
        content: '';
        background: linear-gradient(90deg, rgba(0,92,255,1) 22%, rgba(245,84,90,1) 100%);
        top: 50%;
        right: 100%;
        width: 2rem;
        height: 3px;
        transform: translate(-50%, -50%);
        // margin-right: 1rem;
    }
    
} 

.section-title{
    font-size: calc(2.5rem + .2vw);
    font-weight: 600;
    color: $universal-color-3;
}

.service-card{
    width: 100%;
    min-height: 100%;
    background-color: $universal-color-2;
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.service-icons{
    display: inline-block;
    background-color: $universal-color-3;
    padding: 2rem 1.5rem;
    color: $universal-color-2;
    font-size: calc(2.5rem + .2vw);
    border-top-right-radius: 1rem;
    transition: ease-in-out .3s;
}