@media (max-width: 1199px){
    .main-hero-section{
        .swiper-slide{
            figure{
                aspect-ratio: 1/.9;
            }
        }
    }
}


@media (max-width: 991px){
    .lg-hide{
        display: none!important;
    }
    .Appointment-lg-none{
        display: none;
    }
    .lg-font{
        font-size: calc(3rem + .2vw)!important;
    }

    .main-hero-section{
        .swiper-slide{
            figure{
                aspect-ratio: 1/1.2;
            }
        }
    }
}



@media (max-width: 767px){
    .md-hide{
        display: none!important;
    }
    .info-nav-inner{
        .info-nav-left{
            margin-bottom: .5rem;
        }
        .quick-call-info{
            display: flex;
            align-items: center;
        
            .quick-call{
                width: 2rem;
                height: 2rem;
                font-size: 1rem;
            }
        }
    }
    .main-hero-section{
        .swiper-slide{
            figure{
                aspect-ratio: 1/1.3;
            }
        }
    }
    
}


@media (max-width: 575px){

    .info-nav-inner{
        flex-direction: column;
        align-items: start;
    }
    .main-hero-section{
        .swiper-slide{
            figure{
                aspect-ratio: 1/2;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            display: none;
        }
    }
}


@media (max-width: 375px){
    .main-hero-section{
        .swiper-slide{
            figure{
                aspect-ratio: 1/2.5;
            }
        }
    }
}